In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-28 08:19:39--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.126.200, 52.216.37.184, 52.217.236.176, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.126.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-28 08:19:40 (61.5 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [3]:
import pandas as pd
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
from sqlalchemy import create_engine
pgengine=create_engine('postgresql://root:root@0.0.0.0:5432/ny_taxi')

In [9]:
df_zone.to_sql(name='taxi_zones', con=pgengine, if_exists='replace')

265